#displayHymnBox {
    width: 100%;
    height: auto;
    scroll-behavior: auto;
    overflow-y: scroll;
  }
  
  #displayHymnBox div {
    white-space: pre-line;
    font-size: 0.9rem;
    color: black;
    font-family: "montserrat";
    /*letter-spacing: 2px;*/
    line-height: 20px;
    padding: 0 20px;
  }