<ion-tabs>

  <ion-tab-bar slot="bottom">
    
    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
      <ion-label>Home</ion-label> 
    </ion-tab-button>
    
    <ion-tab-button tab="search">
      <ion-icon name="search"></ion-icon> 
      <ion-label>search</ion-label> 
    </ion-tab-button>

    <ion-tab-button tab="favorite">
      <ion-icon name="heart"></ion-icon>
      <ion-label>favorite</ion-label>  
    </ion-tab-button>

    <ion-tab-button tab="note">
      <ion-icon name="book"></ion-icon>
      <ion-label>Note</ion-label>  
    </ion-tab-button>

    <ion-tab-button tab="bibleStudy">
      <ion-icon name="document"></ion-icon>
      <ion-label>Bible Study</ion-label>  
    </ion-tab-button>
   
  </ion-tab-bar>

</ion-tabs>
