.addNoteheader{
    --background: #2279be;
    --padding-top: 5px !important;
    --padding-bottom: 5px !important;
    ion-button, 
    ion-title {
        --color: white;
    }
}
.read-div {
    padding: 10px;
    .logo {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 10px;
        .logoHolder {
            width: 150px;
            img {
                width: 150px;
                object-fit: contain;
            }
        }
    }
}
.text-center {
    text-align: center;
}