<ion-header class="ion-no-border" [translucent]="true">

  <ion-toolbar class="addNoteheader">

    <ion-buttons slot="start">
      <ion-button (click)="goback()">
        <ion-icon slot="icon-only" name="arrow-back" id="backbutton"></ion-icon>
      </ion-button>
    </ion-buttons>
  
    <ion-title>Bible Study</ion-title>
    
    <ion-buttons slot="end">
      <ion-button (click)="goback()">
        <ion-icon slot="icon-only" 
          name="heart">
          </ion-icon>
      </ion-button>
        
    </ion-buttons>

  </ion-toolbar>

</ion-header>

<ion-content>
  <div class="read-div">

    <div class="logo">
      <div class="logoHolder">
        <img src="assets/logo/biblestudy.png" alt="logo">
      </div>
    </div>

    <div>

      <ion-text>
        <p><b>TOPIC:</b> {{bibleStudy.topic}}</p>
        <p><b>TEXT:</b> {{bibleStudy.textVerses}}</p>
        <p><b>MEMORY VERSE:</b> {{bibleStudy.memoryVerse}}</p>
      </ion-text>

      <div>
        <h3>INTRODUCTION</h3>
        <div [innerHTML]="byPassHTML(bibleStudy.introduction)"></div>
      </div>

      <div>
        <h3>OUTLINE</h3>
        <div [innerHTML]="byPassHTML(bibleStudy.outline)"></div>
      </div>

      <div>
        <h3>CONCLUSION</h3>
        <div [innerHTML]="byPassHTML(bibleStudy.conclusion)"></div>
      </div>

      <div>
        <h3>UPCOMING EVENT</h3>
        <div [innerHTML]="byPassHTML(bibleStudy.upcomingEvent)"></div>
      </div>

    </div>

  </div>
  
</ion-content>