$width: 100%;
$font: "montserrat";
.addNoteheader{
    --background: #2279be;
    padding: 10px 0px 10px 0px;
    ion-button, 
    ion-title {
        --color: white;
    }
}
.addnote {
    width: $width;

    input, textarea {
        width: 100%;
        border: none;
        background: none;
        padding: 30px;
        color: black;
        outline: none;
        font-family: $font;
        :focus {
            outline: none;
        }
    }
    input {
        font-size: 2rem;
    }
    textarea {
        font-size: 1.3rem;
        /* resize: none; */
    }
    
}
#backbutton {
    font-size: 35px;
}