<ion-header [translucent]="true" class="ion-no-border">
    <app-intro type="bibleStudy"></app-intro>
</ion-header>

<ion-content>

    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content
          pullingIcon="chevron-down-circle-outline"
          pullingText="Pull to refresh"
          refreshingSpinner="circles"
          refreshingText="Refreshing...">
        </ion-refresher-content>
      </ion-refresher>

  

  
  <div>

    <div class="list">
      <ol>
        <li *ngFor="let study of bibleStudy" (click)="openBibleStudy(study.id)">{{ study.topic }}</li>
      </ol>
    </div>

  </div>

</ion-content>
