
.searchToolBar{
    --background: #2279be;
    padding: 15px 0px 5px 0px;
    ion-searchbar {
        --border-radius: 20px;
        --background: white;
        --color: #black;
        --placeholder-color: black;
        --box-shadow: none;
    }
}
.searchBox {
    width: 100%;
}