
.searchToolBar{
    --background: #2279be;
    padding: 50px 0 0 0;
    ion-searchbar {
        --border-radius: 20px;
        --background: white;
        --color: #black;
        --placeholder-color: black;
        --box-shadow: none;
        
    }
}
.searchBox {
    width: 100%;
}